
{% extends 'base.html' %}


{% load static %}




{% block title %}

{{category.name}}

{% endblock %}


{% block content %}

     <!-- Category and Products -->
    <div class="container">
        <h1>{{ category.name }}</h1>

        <div class="products">
            {% if products %}
                <ul>
                    {% for product in products %}
                        <li>
                            <h2>{{ product.name }}</h2>
                            <p>{{ product.description }}</p>
                            <p>Price: {{ product.price }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No products found in this category.</p>
            {% endif %}
        </div>
    </div>


{% endblock %}




